.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;

  background-color: white;
  background-image: url("/background.png");
  background-repeat: no-repeat, repeat;
  background-position: center; /* Center the image */
  background-size: cover;

}